.dot::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
  
    width: 3px;
    height: 3px;
    background: transparent;
  
    box-shadow:3px 3px 0 transparent,

    6px 3px 0 transparent,
    9px 3px 0 transparent,
    12px 3px 0 transparent,
    15px 3px 0 transparent,
    18px 3px 0 transparent,
    21px 3px 0 transparent,
    24px 3px 0 transparent,
    27px 3px 0 transparent,
    30px 3px 0 transparent,
    33px 3px 0 transparent,
    36px 3px 0 transparent,
    39px 3px 0 transparent,
    42px 3px 0 transparent,
    45px 3px 0 transparent,
    48px 3px 0 transparent,
    3px 6px 0 transparent,
    6px 6px 0 transparent,
    9px 6px 0 transparent,
    12px 6px 0 transparent,
    15px 6px 0 transparent,
    18px 6px 0 transparent,
    21px 6px 0 transparent,
    24px 6px 0 rgb(0, 0, 0),
    27px 6px 0 transparent,
    30px 6px 0 transparent,
    33px 6px 0 transparent,
    36px 6px 0 transparent,
    39px 6px 0 transparent,
    42px 6px 0 transparent,
    45px 6px 0 transparent,
    48px 6px 0 transparent,
    3px 9px 0 transparent,
    6px 9px 0 transparent,
    9px 9px 0 transparent,
    12px 9px 0 transparent,
    15px 9px 0 transparent,
    18px 9px 0 transparent,
    21px 9px 0 rgb(0, 0, 0),
    24px 9px 0 rgb(0, 110, 255),
    27px 9px 0 rgb(0, 0, 0),
    30px 9px 0 transparent,
    33px 9px 0 transparent,
    36px 9px 0 transparent,
    39px 9px 0 transparent,
    42px 9px 0 transparent,
    45px 9px 0 transparent,
    48px 9px 0 transparent,
    3px 12px 0 transparent,
    6px 12px 0 transparent,
    9px 12px 0 transparent,
    12px 12px 0 transparent,
    15px 12px 0 transparent,
    18px 12px 0 transparent,
    21px 12px 0 rgb(0, 0, 0),
    24px 12px 0 rgb(0, 110, 255),
    27px 12px 0 rgb(0, 0, 0),
    30px 12px 0 transparent,
    33px 12px 0 transparent,
    36px 12px 0 transparent,
    39px 12px 0 transparent,
    42px 12px 0 transparent,
    45px 12px 0 transparent,
    48px 12px 0 transparent,
    3px 15px 0 transparent,
    6px 15px 0 transparent,
    9px 15px 0 transparent,
    12px 15px 0 transparent,
    15px 15px 0 transparent,
    18px 15px 0 transparent,
    21px 15px 0 rgb(0, 0, 0),
    24px 15px 0 rgb(0, 110, 255),
    27px 15px 0 rgb(0, 0, 0),
    30px 15px 0 transparent,
    33px 15px 0 transparent,
    36px 15px 0 transparent,
    39px 15px 0 transparent,
    42px 15px 0 transparent,
    45px 15px 0 transparent,
    48px 15px 0 transparent,
    3px 18px 0 transparent,
    6px 18px 0 transparent,
    9px 18px 0 transparent,
    12px 18px 0 transparent,
    15px 18px 0 transparent,
    18px 18px 0 rgb(0, 0, 0),
    21px 18px 0 rgb(0, 110, 255),
    24px 18px 0 rgb(0, 110, 255),
    27px 18px 0 rgb(0, 110, 255),
    30px 18px 0 rgb(0, 0, 0),
    33px 18px 0 transparent,
    36px 18px 0 transparent,
    39px 18px 0 transparent,
    42px 18px 0 transparent,
    45px 18px 0 transparent,
    48px 18px 0 transparent,
    3px 21px 0 transparent,
    6px 21px 0 transparent,
    9px 21px 0 transparent,
    12px 21px 0 rgb(0, 0, 0),
    15px 21px 0 rgb(0, 0, 0),
    18px 21px 0 rgb(0, 110, 255),
    21px 21px 0 rgb(0, 110, 255),
    24px 21px 0 rgb(0, 110, 255),
    27px 21px 0 rgb(0, 110, 255),
    30px 21px 0 rgb(0, 110, 255),
    33px 21px 0 rgb(0, 0, 0),
    36px 21px 0 rgb(0, 0, 0),
    39px 21px 0 transparent,
    42px 21px 0 transparent,
    45px 21px 0 transparent,
    48px 21px 0 transparent,
    3px 24px 0 transparent,
    6px 24px 0 transparent,
    9px 24px 0 rgb(0, 0, 0),
    12px 24px 0 rgb(0, 110, 255),
    15px 24px 0 rgb(0, 110, 255),
    18px 24px 0 rgb(0, 110, 255),
    21px 24px 0 rgb(0, 110, 255),
    24px 24px 0 rgb(0, 110, 255),
    27px 24px 0 rgb(0, 110, 255),
    30px 24px 0 rgb(0, 110, 255),
    33px 24px 0 rgb(0, 110, 255),
    36px 24px 0 rgb(0, 110, 255),
    39px 24px 0 rgb(0, 0, 0),
    42px 24px 0 transparent,
    45px 24px 0 transparent,
    48px 24px 0 transparent,
    3px 27px 0 transparent,
    6px 27px 0 rgb(0, 0, 0),
    9px 27px 0 rgb(0, 110, 255),
    12px 27px 0 rgb(0, 110, 255),
    15px 27px 0 rgb(0, 110, 255),
    18px 27px 0 rgb(0, 110, 255),
    21px 27px 0 rgb(0, 110, 255),
    24px 27px 0 rgb(0, 110, 255),
    27px 27px 0 rgb(0, 110, 255),
    30px 27px 0 rgb(0, 110, 255),
    33px 27px 0 rgb(0, 110, 255),
    36px 27px 0 rgb(0, 110, 255),
    39px 27px 0 rgb(0, 110, 255),
    42px 27px 0 rgb(0, 0, 0),
    45px 27px 0 transparent,
    48px 27px 0 transparent,
    3px 30px 0 rgb(0, 0, 0),
    6px 30px 0 rgb(0, 110, 255),
    9px 30px 0 rgb(0, 110, 255),
    12px 30px 0 rgb(0, 110, 255),
    15px 30px 0 rgb(0, 110, 255),
    18px 30px 0 rgb(255, 255, 255),
    21px 30px 0 rgb(0, 110, 255),
    24px 30px 0 rgb(0, 110, 255),
    27px 30px 0 rgb(0, 110, 255),
    30px 30px 0 rgb(255, 255, 255),
    33px 30px 0 rgb(0, 110, 255),
    36px 30px 0 rgb(0, 110, 255),
    39px 30px 0 rgb(0, 110, 255),
    42px 30px 0 rgb(0, 110, 255),
    45px 30px 0 rgb(0, 0, 0),
    48px 30px 0 transparent,
    3px 33px 0 rgb(0, 0, 0),
    6px 33px 0 rgb(0, 110, 255),
    9px 33px 0 rgb(0, 110, 255),
    12px 33px 0 rgb(0, 110, 255),
    15px 33px 0 rgb(255, 255, 255),
    18px 33px 0 rgb(0, 0, 0),
    21px 33px 0 rgb(255, 255, 255),
    24px 33px 0 rgb(0, 110, 255),
    27px 33px 0 rgb(255, 255, 255),
    30px 33px 0 rgb(0, 0, 0),
    33px 33px 0 rgb(255, 255, 255),
    36px 33px 0 rgb(0, 110, 255),
    39px 33px 0 rgb(0, 110, 255),
    42px 33px 0 rgb(0, 110, 255),
    45px 33px 0 rgb(0, 0, 0),
    48px 33px 0 transparent,
    3px 36px 0 rgb(0, 0, 0),
    6px 36px 0 rgb(0, 110, 255),
    9px 36px 0 rgb(0, 110, 255),
    12px 36px 0 rgb(0, 110, 255),
    15px 36px 0 rgb(0, 110, 255),
    18px 36px 0 rgb(255, 255, 255),
    21px 36px 0 rgb(0, 110, 255),
    24px 36px 0 rgb(0, 110, 255),
    27px 36px 0 rgb(0, 110, 255),
    30px 36px 0 rgb(255, 255, 255),
    33px 36px 0 rgb(0, 110, 255),
    36px 36px 0 rgb(0, 110, 255),
    39px 36px 0 rgb(0, 110, 255),
    42px 36px 0 rgb(0, 110, 255),
    45px 36px 0 rgb(0, 0, 0),
    48px 36px 0 transparent,
    3px 39px 0 rgb(0, 0, 0),
    6px 39px 0 rgb(0, 110, 255),
    9px 39px 0 rgb(0, 110, 255),
    12px 39px 0 rgb(0, 110, 255),
    15px 39px 0 rgb(255, 0, 0),
    18px 39px 0 rgb(0, 110, 255),
    21px 39px 0 rgb(0, 110, 255),
    24px 39px 0 rgb(0, 110, 255),
    27px 39px 0 rgb(0, 110, 255),
    30px 39px 0 rgb(0, 110, 255),
    33px 39px 0 rgb(255, 0, 0),
    36px 39px 0 rgb(0, 110, 255),
    39px 39px 0 rgb(0, 110, 255),
    42px 39px 0 rgb(0, 110, 255),
    45px 39px 0 rgb(0, 0, 0),
    48px 39px 0 transparent,
    3px 42px 0 transparent,
    6px 42px 0 rgb(0, 0, 0),
    9px 42px 0 rgb(0, 110, 255),
    12px 42px 0 rgb(0, 110, 255),
    15px 42px 0 rgb(0, 110, 255),
    18px 42px 0 rgb(255, 0, 0),
    21px 42px 0 rgb(255, 0, 0),
    24px 42px 0 rgb(255, 0, 0),
    27px 42px 0 rgb(255, 0, 0),
    30px 42px 0 rgb(255, 0, 0),
    33px 42px 0 rgb(0, 110, 255),
    36px 42px 0 rgb(0, 110, 255),
    39px 42px 0 rgb(0, 110, 255),
    42px 42px 0 rgb(0, 0, 0),
    45px 42px 0 transparent,
    48px 42px 0 transparent,
    3px 45px 0 transparent,
    6px 45px 0 transparent,
    9px 45px 0 rgb(0, 0, 0),
    12px 45px 0 rgb(0, 0, 0),
    15px 45px 0 rgb(0, 110, 255),
    18px 45px 0 rgb(0, 110, 255),
    21px 45px 0 rgb(0, 110, 255),
    24px 45px 0 rgb(0, 110, 255),
    27px 45px 0 rgb(0, 110, 255),
    30px 45px 0 rgb(0, 110, 255),
    33px 45px 0 rgb(0, 110, 255),
    36px 45px 0 rgb(0, 0, 0),
    39px 45px 0 rgb(0, 0, 0),
    42px 45px 0 transparent,
    45px 45px 0 transparent,
    48px 45px 0 transparent,
    3px 48px 0 transparent,
    6px 48px 0 transparent,
    9px 48px 0 transparent,
    12px 48px 0 transparent,
    15px 48px 0 rgb(0, 0, 0),
    18px 48px 0 rgb(0, 0, 0),
    21px 48px 0 rgb(0, 0, 0),
    24px 48px 0 rgb(0, 0, 0),
    27px 48px 0 rgb(0, 0, 0),
    30px 48px 0 rgb(0, 0, 0),
    33px 48px 0 rgb(0, 0, 0),
    36px 48px 0 transparent,
    39px 48px 0 transparent,
    42px 48px 0 transparent,
    45px 48px 0 transparent,
    48px 48px 0 transparent;
  }